div#page div {
  border: 1px solid black;
  margin: 10px;
}

div.grid {
  display: grid;
  /*fr은 fraction(뜻은 여기로)인데요, 숫자 비율대로 트랙의 크기를 나눕니다.
  즉 위의 1fr 1fr 1fr은 균일하게 1:1:1 비율인 3개의 column을 만들겠다는 의미예요.*/
  grid-template-columns: 1fr 1fr;
}
